<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SnakePit</title>
    {%  load staticfiles  %}
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/jcanvas.min.js" %}"></script>
</head>
<style>
    body {
        background-color: darkgreen;
    }
    .page-header {
        margin: auto;
        width: 400px;
    }
    .page-content {
        background-color: white;
        margin: auto;
        padding:5%;
        width: 30%;
    }
    .inner-page-content{
        margin:auto;
        width:90%;
        padding: 25px;
        width: 90%;
    }
    p, h3 {
        font-family: "Ubuntu";
    }
</style>
<body>
    <div class="page-header">
        <div>
            <img id="page_logo" width="200px" height="130 px" src="{%  static "assets/SnakePitLogo.png"%}" alt="Step Backward">
        </div>
    </div>
    <div class="page-content">
        <div class="inner-page-content">
            <p>Select Game:</p>
            <select id="gameSelect">
                                       </select>
            <button type="button" onclick="load_game()">Load Game</button>
            <br>
            <p>Snake URL:</p>
            <input type="text" id="snake-url">

            <div id="turn_info"></div>
            <br>
            <img id="backButton" onclick="stepBackward()" src="{%  static "assets/buttons/backward.png"%}" alt="Step Backward">
            <img id="forwardButton" onclick="stepForward()" src="{%  static "assets/buttons/forward.png"%}" alt="Step Forward">

            <div id="result_info"></div>

            <br/>
            <button type="button" onclick="deleteTurn()">Delete Turn</button>
            <button type="button" onclick="deleteGame()">Delete Game</button>

        </div>
    </div>
<script>
    let data = undefined;
    let all_games = [];
    let info_gid = "example_gid";
    let turn = 0;
    let max_turn = undefined;
    let result = 'n/a';

    const deleteGame = async () => {
            if (info_gid === 'example_gid') {
                alert("You need to load a game first");
                return;
            }

            // double checking, I dont want users to have this functionality if your reading this Jason
            let answer = confirm("Are you sure you want to delete GID:" + info_gid);

            if ( answer ) {
                let data_endpoint = '{{ api_url }}games/delete';
                let body = JSON.stringify({"gid": info_gid});

                const response = await fetch(data_endpoint, {
                    method: 'DELETE',
                    body: body, // string or object
                    headers:{
                        'Content-Type': 'application/json',
                    },
                });
                const myJson = await response.json(); //extract JSON from the http response

                if (response.status != 200){
                    alert("Failed to delete game (Its not your fault)")
                }
            }
    };

    const deleteTurn = async () => {
        if (info_gid === 'example_gid') {
            alert("You need to load a game first");
            return;
        }

        // double checking, I dont want users to have this functionality if your reading this Jason
        let answer = confirm("Are you sure you want to delete:\n" +
            " GID:" + info_gid +
            "\nTurn: " + turn);

        if ( answer ) {
            let data_endpoint = '{{ api_url }}games/delete';
            let body = JSON.stringify({
                "gid": info_gid,
                "turn": turn
            });

            const response = await fetch(data_endpoint, {
                method: 'DELETE',
                body: body, // string or object
                headers:{
                    'Content-Type': 'application/json',
                },
            });
            const myJson = await response.json(); //extract JSON from the http response

            if (response.status != 200){
                alert("Failed to delete game (Its not your fault)")
            }
        }
    };

    const get_game_list = async () => {
        let data_endpoint = '{{ api_url }}games/list';
        let body = {};
        const response = await fetch(data_endpoint, {
            method: 'POST',
            body: body, // string or object
            headers:{
                'Content-Type': 'application/json'
            }
        });
        const myJson = await response.json(); //extract JSON from the http response

        all_games.push(myJson.games);
        let dropdown_div = document.getElementById("gameSelect");
        for (let i = 0; i < myJson.games.length; i++){
            let option = '<option value="' + myJson.games[i] + '">' + myJson.games[i] + '</option>';
            dropdown_div.innerHTML += option;
        }

    };

    const load_game = async () => {
        let gid = document.getElementById("gameSelect").value;

        let data_endpoint = '{{ api_url }}games/get';
        let body = JSON.stringify({"gid": gid});


        const response = await fetch(data_endpoint, {
            method: 'POST',
            body: body, // string or object
            headers:{
                'Content-Type': 'application/json',
            },
        });
        const myJson = await response.json(); //extract JSON from the http response
        data = myJson;
        max_turn = data.turn.length;

        info_gid = gid;
        console.log("loaded: " + gid);
        reset();
    };

    function update_info(){
        let info = document.getElementById("turn_info");
        info.innerHTML = "<p>Game:  <b>" + info_gid + "</b><br/>Turn: <b>" + turn + "</b></p>";
    }

    function update_response() {
        let info = document.getElementById("result_info");
        info.innerHTML = "<p>Result:  <b>" + result + "</b></p>";
    }

    const call_snake = async () => {
        // getting snake url from UI
        let snake_url = document.getElementById("snake-url").value;
        let body;

        if (info_gid === 'example_gid' ){
            alert("Please load a game first");
            return;
        } else if (snake_url === ''){
            alert("Please enter a valid snake url first");
            return;
        }

        body = JSON.stringify({
            'URL': snake_url,
            'data': data.turn[turn]
        });

        const response = await fetch('{{ api_url }}games/snake' , {
            method: 'POST',
            body: body, // string or object
            mode: 'no-cors',
            headers: {
                'Content-Type': 'application/json',
            },
        });

        const myJson = await response.json(); //extract JSON from the http response

        result = JSON.parse(myJson).move;

        update_response();
    };

    function stepForward() {
        if ( turn < max_turn ) {
            turn += 1;
        }
        update_info();
        call_snake();
    }

    function stepBackward() {
        if ( turn > 0 ){
            turn -= 1;
        }
        update_info();
        call_snake();
    }

    function reset() {
        turn = 0;
        result = 'n/a';
        get_game_list();
        update_info();
        update_response();
    }

    reset();
</script>

</body>
</html>